:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECE9FD;
    font-family: 'Epilogue', 'sans-serif';
    padding: 6.0rem 2.3rem 6.6rem;
}

h1 {
    font-size: 4.0rem;
    font-weight: 800;
    line-height: 4.8rem; 
}

ul {
    list-style: none;
}